
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

h1 {
    font-family: 'Lobster Two', cursive;
    margin: 1%;
}

button {
    margin-top: 3%;
    background-color: rgb(56, 151, 241);
    color: white;
}

.margen{
    margin-top: 2%;
}

mat-card{
    width: 30%;
    padding: 4%;
}

mat-card div {
    margin-top: 3%;
}

div {
   margin-top: 6%;

}
