<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body class="color">
    <div class="caja">
        <mat-card class="example-card carta">
            <form>
                <h1>Miarmagram</h1>
                <mat-form-field appearance="legacy" class="margen">
                    <input id="nickname" type="text" matInput placeholder="Nombre de usuario" [(ngModel)]="login.nickname"
                        name="nickname">
                </mat-form-field>
    
                <mat-form-field appearance="standard">
                    <input id="password" type="password" matInput placeholder="Contraseña" [(ngModel)]="login.password"
                        name="password">
                </mat-form-field>
                <button mat-raised-button class="enviar" type="submit" (click)="submitt()">Iniciar sesión</button>
            </form>
    
            <div fxLayoutAlign="space-evenly center">
                <p>¿No tienes cuenta? <a href="/register">Regístrate</a></p>
            </div>
        </mat-card>
    </div>
</body>
</html>
