
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

h1 {
    font-family: 'Lobster Two', cursive;
    margin: 1%;
}

.color {
    background: linear-gradient(90deg, rgba(8,0,136,1) 0%, rgba(6,82,166,1) 25%, rgba(34,218,255,0.9587694697019433) 84%);
}

button {
    margin-top: 3%;
    background-color: rgb(56, 151, 241);
    color: white;
}

.margen{
    margin-top: 2%;
}

mat-card{
    width: 30%;
    padding: 4%;
}

mat-card div {
    margin-top: 3%;
}

.caja {
    margin-left: 40%;
}

div p {
    margin-top: 6%;
}

a {
    text-decoration: none;
    color:rgb(0, 50, 97);
    font-weight: bold;
}

